:root{
    --primary-color: #0F9D58;
    --background-color: #f0f3f7;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: unset;
    text-decoration: none;
}

body, html{
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color:var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap{
    max-width: 1366px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: .5s ease-in-out;
}

.menu-item:hover , .menu-item.active{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.cart-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-color);
    transition: .5s ease-in-out;
}

.cart-btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}